.nav {
    position: fixed;
    top: 0;

    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(10, 25, 47, 0.75);
    backdrop-filter: blur(5px);
    //padding: 20px;

    &--mobile-open {
        height: 100vh;
    }

    @media (min-width: $tablet-width) {
        height: 100px;
        align-items: center;
    }
}

.nav__logo {
    margin: 30px 30px;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: min(75vw, 400px);
    background-color: #112240;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    display: none;

    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: row;
        position: relative;
        width: auto;
        height: auto;
        background: none;
        align-items: center;
        padding: 0 40px;
    }
}

.nav__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
        content: "0" counter(item) ".";
        color: $special-color;
        font-weight: 400;
        font-family: monospace, Arial, sans-serif;
    }

    &--special {
        &::before {
            content: none;
        }
    }

    @media (min-width: $tablet-width) {
        &::before {
            content: none;
        }
    }
}

.nav__link {

    @include font-family-main;
    padding: 8px;
    margin: 0 0 20px 0;
    font-size: 18px;
    color: $text-light;
    font-weight: 600;

    &::before {
        @media (min-width: $tablet-width) {
            content: "> ";
            color: $special-color;
            font-weight: 400;
            @include font-family-console;
        }
    }

    @media (min-width: $tablet-width) {
        padding: 20px;
        margin: 0;
    }
}

.nav__button {

    @include font-family-main;
    margin: 0;
    padding: 16px 26px;
    font-size: 18px;
    color: $special-color;
    font-weight: 400;
    border: 2px solid $special-color;
    border-radius: 0;
    transition: border-radius 300ms;

    &:hover {
        border-radius: 20px;
        transition: border-radius 300ms;
        cursor: pointer;
    }

    @media (min-width: $tablet-width) {
        // margin: 0 50px 0 0;
    }
}

.nav__toogle {
    margin: 40px 30px;
    padding: 0;
    width: 46px;
    height: 3px;
    background: none;
    border: none;
    box-shadow: 0 12px 0 0 #64ffda, 0 24px 0 0 #64ffda;
    border-top: 3px solid #64ffda;
    z-index: 10;

    @media (min-width: $tablet-width) {
        display: none;
    }
}