.nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    margin: 10px 30px;
}

.nav__list {
    list-style: none;
    display: flex;
    margin: 0 50px;
}

.nav__item {}

.nav__link {

    @include font-family-main;
    padding: 20px;
    font-size: 18px;
    color: $text-main;
    font-weight: 600;

    &::before {
        content: "> ";
        color: $special-color;
        font-weight: 400;
        @include font-family-console;
    }
}