.page {

    min-width: 280px;
    padding: 0;
    margin: 0;
    align-items: center;
    background-color: $background-main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: background-color 2s;
}

.page__social {
    position: fixed;
    left: 50px;
    bottom: 150px;
}

.page__email {
    position: fixed;
    bottom: 150px;
    right: 50px;
}

.page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;

    &--greeting {
        height: 100vh;
    }
}