@mixin font-family-main {
    font-family: 'Calibre', Arial, sans-serif;

}

@mixin font-family-console {
    font-family: monospace, Arial, sans-serif;

}

@mixin special-text {
    font-family: monospace, Arial, sans-serif;
    color: $special-color;
    font-size: 16px;
}

@mixin names-text {
    font-family: "Calibre", Arial, sans-serif;
    font-size: 26px;
    color: $text-light;
    font-weight: 600;
}