p {
    margin: 0;
    padding: 0;
    color: $text-main;
}

a {
    color: $special-color;
    text-decoration: none;
    display: inline-block;
    position: relative;

    &:hover,
    &:active,
    &:focus {
        color: $special-color;
    }
}

img {
    max-width: 90vw;
}

ul {
    list-style: none;
    padding: 0;
}