/* .header {
    outline: 5px solid red;
    outline-offset: -5px;
}

.main {
    outline: 5px solid rgb(0, 255, 13);
    outline-offset: -5px;
}


.footer {
    outline: 5px solid #b30000;
    outline-offset: -5px;
}

.modal {
    outline: 5px solid rgb(217, 255, 0);
    outline-offset: -5px;
}

section {
    outline: 5px solid rgb(217, 255, 0);
    outline-offset: -5px;
} */